<header class="header">
  <i class="fa fa-github"></i>
  <input #searchBox [formControl]="searchControl"  (keyup)="getUsers($event.target.value, 1)" placeholder="Search for username..." />
</header>

<div class="container">
  <div *ngIf="(users$ | async) as users">
    <app-paginator [page]="page" [total_count]="users.total_count"  (nextPage)="goNext($event)" (previousPage)="goPrevious($event)"></app-paginator>

    <app-users [users]="users"></app-users>
  </div>

  <app-error *ngIf="error" [error]="error"></app-error>
</div>



<router-outlet></router-outlet>
