<header class="header">
  <i class="fa fa-github"></i>
  <input #searchBox [formControl]="searchControl"  (keyup)="getUsers($event.target.value, 1)" placeholder="Search for username..." />
</header>

<div *ngIf="!error" class="container">
  <div *ngIf="(users$ | async) as users">
    <app-paginator [page]="page" [total_count]="users.total_count"  (nextPage)="goNext($event)" (previousPage)="goPrevious($event)"></app-paginator>

    <div class="total-users">{{users.total_count | number: 0}} user(s)</div>
    <div class="user-card-wrap" *ngIf="users.items.length">
      <div *ngFor="let user of users.items">
        <app-user [user]="user" (errorRaised)="onError($event)"></app-user>
      </div>
    </div>

  </div>
</div>

<div *ngIf="error" class="error"><i class="fa fa-frown-o"></i>  Something went wrong, please try again later.</div>
